{% extends './base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    NovelMenu
{% endblock %}

{% block nav %}
    {% get_section_read_now request.user as section_read_now %}
    <ul class="links">
        <li><a href="{% url 'novel_bookrack' %}">Novel Bookrack</a></li>
        <li class="active"><a href="{% url 'novel_menu'  section_read_now.novel_id %}">Novel Menu</a></li>
        <li><a href="{% url 'novel_section' section_read_now.section_id %}">Novel Section</a></li>
        <li><a href="{% url 'novel_update' %}">Novel Update</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% get_previous_section novel as previous_section_list %}
    {% get_last_section novel as last_section_list %}
    <section class="post">
        <header class="major">
            <h1>Novel<br/>
                Menu</h1>
        </header>
        <div class="box">
            <h2>{{ novel.title }}</h2>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <h3>最新章节</h3>
                    <ol>
                        {% for section in last_section_list %}
                            <li><a href={% url 'novel_section' section.id %}>{{ section.title }}</a></li>
                        {% endfor %}
                    </ol>
                    <h6>......</h6>
                </div>
                <div class="col-lg-6">
                    <h3>从头开始</h3>
                    <ol>
                        {% for section in previous_section_list %}
                            <li><a href={% url 'novel_section' section.id %}>{{ section.title }}</a></li>
                        {% endfor %}
                    </ol>
                    <h6>......</h6>
                </div>
            </div>
        </div>
        {#    {% verbatim %}#}
        {#    {% endverbatim %}#}
        <div class="box" id="section-feature">
            <h3>全部章节</h3>
            <hr>
            <div class="row">
                {% for section in section_list %}
                    {#                <div class="col-lg-4" v-for="section in section_list.results">#}
                    <div class="col-lg-4">
                        <a href={% url 'novel_section' section.id %}><p> {{ section.title }}</p></a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <footer id="pagination-feature">
            <div class="pagination">
                {#                <a class="previous">First</a>#}
                {% if section_list.has_previous %}
                    <a href="?page={{ section_list.previous_page_number }}" class="previous">Prev</a>
                {% else %}
                    <a aria-hidden="true" class="previous">Prev</a>
                {% endif %}
                {% for page_num in page_range %}
                    {% if  page_num < 0 %}
                        <span class="extra">&hellip;</span>
                    {% elif page_num == section_list.number %}
                        <a href="?page={{ page_num }}" class="page active">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}" class="page">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                <!-- <a href="#"  v-for="pager in pagers" @click="go(pager)">{{ pager }}</a>-->

                <!-- <a href="#" class="page"></a>-->
                {% if section_list.has_next %}
                    <a href="?page={{ section_list.next_page_number }}" class="next">Next</a>
                {% else %}
                    <a aria-hidden="true" class="next">Next</a>
                {% endif %}
                {#                <a class="next">Last</a>#}
            </div>
        </footer>
    </section>
{% endblock %}

{#{% block script %}#}
{#    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/reqwest.js' %}"></script>#}
{#    <script>#}
{#        var novel_id = (window.location.href).split('/')[((window.location.href).split('/')).length - 2]#}
{#        var apiurl = 'http://127.0.0.1:8000/api/novel/sections/?novel=' + novel_id#}
{#        var a = 1#}
{#        var section = new Vue({#}
{#            el: "#section-feature",#}
{#            data: {#}
{#                section_list: [],#}
{#                page_num: 0,#}
{#                presenturl: "",#}
{#            },#}
{#            methods: {#}
{#                getData: function (url) {#}
{#                    var self = this;#}
{#                    reqwest({#}
{#                        url: url,#}
{#                        type: 'json',#}
{#                        method: 'get',#}
{#                        success: function (resp) {#}
{#                            self.section_list = resp#}
{#                            self.page_num = resp.count % 48 + 1#}
{#                        }#}
{#                    })#}
{#                },#}
{#            },#}
{#            computed: {},#}
{#            mounted: function () {#}
{#                this.getData(apiurl)#}
{#            },#}
{#        })#}
{##}
{#        var exampleData = {#}
{#            message: 'Hello World!'#}
{#        }#}
{##}
{#        // 创建一个 Vue 实例或 "ViewModel"#}
{#        // 它连接 View 与 Model#}
{#        var pagination = new Vue({#}
{#            el: '#pagination-feature',#}
{#            data: exampleData,#}
{#            methods: {#}
{#                next: function () {#}
{#                    section.getData(section.section_list.next)#}
{#                },#}
{#                prev: function () {#}
{#                    section.getData(section.section_list.previous)#}
{#                }#}
{#            },#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}